<select id="volumes" onchange="selectVolume()">

</select>
<button onclick="next('-1')" type="button" >prev</button>
<button onclick="next('1')" type="button" >next</button>
<select id="mySelect" onchange="selectx()">
  <option value="Arabic">Arabic</option>
  <option value="Roman">Roman</option>
  <option value="Empty">Empty</option>
  <option value="SameArabic">SameArabic</option>
  <option value="SameRoman">SameRoman</option>
  <option value="Jump">Jump</option>
  <option value="SingleRoman">SingleRoman</option>
</select>
<input id="page" size="35" type="text" value="" >

<button id="submit" onclick="submit()" type="button" style="background-color:yellow">submit</button>
<button id="submitDOUBLE" onclick="submitDOUBLE()" type="button" style="visibility:xhidden;background-color:yellow">submitDOUBLE</button>
 
 





<button onclick="show_json()" type="button" >show_json</button>
 
 


<br>

<br>

<img id="myimage" src="" style="width:90%" >
<div id="result"> </div>
<textarea id="mytextarea" rows=50 style="display:none">

</textarea>

<br><br><br><br><br><br><br><br>
<script>
	///--------------
	////^(.*):(.*),$
	////"\1":"\2",
	//----------------
	//^(.*):    "\1":
	//:(.*),$   :"\1",
//var txt = str.replace(/.*(microsoft).*/i,"$1");
 
var index=1
vol="161"
num={}
maxindex=0
DICT={}


function createPages(){
	for (i=1;i<2000;i++){
	//alert( i)
	//alert(picname(i))
	DICT[picname(i)]='none'
 
}
	
}

initaki()

//#######################
function initaki() {
createVols()
createPages()
// first page
document.getElementById('myimage').src=vol+"/"+picname(1)
//first numbering
document.getElementById('page').value=2
}




function testcreateVols(){
 
  
}

function createVols(){
 var x = document.getElementById("volumes");
  
  for (i=161;i>0;i--){
	var option = document.createElement("option");
  
  
  if (i<100 && i >=10){
	  option.text = '0'+i.toString()
	  
  }
  else if (i<10) {
	  
	  option.text = '00'+i.toString()
  }
  else {
	  
	  option.text = i
  }
  
  
  
  
  
  x.add(option);  
	  
	  
  }	
	
}
function selectVolume(){
	
 vol=document.getElementById('volumes').value
 alert(vol)
	 
document.getElementById('myimage').src=vol+"/"+"0001.jpg"

//document.getElementById('myimage').src=vol+"/"+picname(1)

}




 



function picname(ind) {
digits=ind.toString().length;
switch(digits) {
  case 1:
    zeros="000"
    break;
  case 2:
    zeros="00"
    break;
  case 3:
    zeros="0"
    break;
   case 4:
    zeros=""
    break;
}
imagename=zeros+ind.toString()+".jpg"

return  imagename

}



function convertToRoman(num) {
    var arrConv = {
            0: { 1: 'I', 2: 'II', 3: 'III', 4: 'IV', 5: 'V', 6: 'VI', 7: 'VII', 8: 'VIII', 9: 'IX' },
            1: { 1: 'X', 2: 'XX', 3: 'XXX', 4: 'XL', 5: 'L', 6: 'LX', 7: 'LXX', 8: 'LXXX', 9: 'XC' },
            2: { 1: 'C', 2: 'CC', 3: 'CCC', 4: 'CD', 5: 'D', 6: 'DC', 7: 'DCC', 8: 'DCCC', 9: 'CM' },
            3: { 1: 'M', 2: 'MM', 3: 'MMM', 4: 'MMMM', 5: 'MMMMM', 6: 'MMMMMM', 7: 'MMMMMMM', 8: 'MMMMMMMM', 9: 'MMMMMMMMM' }
        },
        arr2 = num.toString().split("").reverse(),
        romansArray = arr2.map(function (a, i) {
            return arrConv[i][a] || '';
        });

    return romansArray.reverse().join("");
}


//alert(convertToRoman-1(12))




function show_json() {
	//alert(index)
	x='var arr={<BR>'
	
	for (i=1;i< maxindex+1;i++){
	 if (DICT[picname(i)]=='Empty' ) {continue}
	 
	  if (DICT[picname(i)]=='SingleRoman' ) {
		  
		//n_odd= parseInt(num[i])
		//n_even=parseInt(num[i])
		
		n_odd= convertToRoman(parseInt(num[i]))
		n_even=convertToRoman( parseInt(num[i]))
		
		
		  }
	 
	 
	 if (DICT[picname(i)]=='Arabic' ) {
	n_odd= parseInt(num[i])
	n_even=parseInt(num[i])-1
	 }
	 if (DICT[picname(i)]=='Roman' ) {
	n_odd= convertToRoman(parseInt(num[i]))
	n_even=convertToRoman( parseInt(num[i])-1)
	 }
	 if (DICT[picname(i)]=='SameArabic' || DICT[picname(i)]=='SameRoman' ) {
	//n_odd= convertToRoman(parseInt(num[i]))
	//n_even=convertToRoman( parseInt(num[i])-1)
	 }
			 if (DICT[picname(i)].split('-')[0]=='Jump' && DICT[picname(i-1)]=='Roman') {
			n_odd= convertToRoman(parseInt(num[i]))
			n_even=convertToRoman( parseInt(num[i])-1)
			 }
	  if (DICT[picname(i)].split('-')[0]=='Jump' && DICT[picname(i-1)]=='Arabic') {
			n_odd= parseInt(num[i])
	n_even=parseInt(num[i])-1
			 }
	 
	//if (DICT[picname(i)]=='Same' ) {step=0}
	 //alert(num[i])
 //parseInt(step)
x=x+n_even+':'+  picname(i)+',<BR>'+n_odd+':'+  picname(i)+',<BR>'

	}
	x=x+'}'
	alert(x)
	
	document.getElementById('result').innerHTML=x
 
}


 
 





 
function submitDOUBLE() {
	
	//alert("lll")
	document.getElementById('mySelect').selectedIndex=0
	submit()
	//alert("lll")
	document.getElementById('mySelect').selectedIndex=3
	submit()
	document.getElementById('mySelect').selectedIndex=0
}

function submit() {
//alert(maxindex)

if (index > maxindex){
	
	maxindex=index
	
	
}
 
	
	DICT[picname(index)]=document.getElementById("mySelect").value
//alert(DICT[picname(index)])
	//DICT[picname(index)]=document.getElementById("mySelect").value
if (document.getElementById("mySelect").value=='Jump' ) {
 var jump = prompt("Please enter page number", "0");
	 //jump=parseInt(jump)
	 //alert(jump+3)
DICT[picname(index)]='Jump'+'-'+jump
	 
//	 alert(DICT[picname(index)])
//	 return
}


next(1)



//
}
	
	
 
	
	function  countaki(){
	
	//alert(index)
	//num[index]=0
	//x0=DICT[picname(i)].split('-')[0]
	//x0=DICT[picname(index)].split('-')[0]
	x=''
	pagenum=0
	jump=0
	flag='Arabic'
	//alert(index)
		for (i=1;i<index+1;i++){
			//alert(';')
			x=x+DICT[picname(i)]
			//alert(flag)	
			if (DICT[picname(i)]=='Empty' ) {step=0}
			if (DICT[picname(i)]=='SameArabic' ) {step=0}
			if (DICT[picname(i)]=='SameRoman' ) {step=0}
	
	if (DICT[picname(i)]=='SingleRoman' & flag=='SingleRoman' ) {
		step=1
		 flag='SingleRoman' 
		 
		// alert('flag')	
			pagenum=pagenum+step
			num[i]=pagenum
			continue
		}
		
	if (DICT[picname(i)]=='SingleRoman' & (flag=='Arabic' || flag=='Roman')) {
		step=1
		pagenum=0
		flag='SingleRoman'
		
		pagenum=pagenum+step
			num[i]=pagenum
			continue
		}
		
		
		
		
		
			//////////////////
			
			 if (DICT[picname(i)].split('-')[0]=='Jump' ) {
				//var jump = prompt("Please enter page number", "0");
				//jump=2
			jump=0	
			jump=parseInt(DICT[picname(i)].split('-')[1])
			//	continue
			//alert(jump)
			step=jump
			
			pagenum=pagenum+step
			num[i]=pagenum
			continue
			 }
			//////////////
			if (DICT[picname(i)]=='Arabic' & flag=='Arabic') {
			
			flag='Arabic'
			step=2
			pagenum=pagenum+step
			num[i]=pagenum
			continue
			}
			if (DICT[picname(i)]=='Arabic' &  (flag=='SingleRoman' || flag=='Roman')) {
			
			flag='Arabic'
			step=2
			pagenum=0
			
			pagenum=pagenum+step
			num[i]=pagenum
			continue
			}
			
			if (DICT[picname(i)]=='Roman' & flag=='Roman') {
			
			flag='Roman'
			step=2
			pagenum=pagenum+step
			num[i]=pagenum
			continue
			
			}
			
			if (DICT[picname(i)]=='Roman' &  (flag=='SingleRoman' || flag=='Arabic')) {
			
			flag='Roman'
			step=2
			pagenum=0
			
			pagenum=pagenum+step
			num[i]=pagenum
			continue
			
			}

			//jump=0
			
			//pagenum=pagenum+step
			//num[i]=pagenum
		}
		//alert(x)
		//alert(pagenum)
		
		
		
		return pagenum
	
}
 
function xxxcountaki(){
	
	//alert(index)
	//num[index]=0
	//x0=DICT[picname(i)].split('-')[0]
	//x0=DICT[picname(index)].split('-')[0]
	x=''
	pagenum=0
	jump=0
	flag='Arabic'
	//alert(index)
		for (i=1;i<index+1;i++){
			//alert(';')
			x=x+DICT[picname(i)]
			
			if (DICT[picname(i)]=='Empty' ) {step=0}
			if (DICT[picname(i)]=='SameArabic' ) {step=0}
			if (DICT[picname(i)]=='SameRoman' ) {step=0}
	
	if (DICT[picname(i)]=='SingleRoman' & flag=='SingleRoman' ) {
		step=1
		flag=='SingleRoman' 

		}
	if (DICT[picname(i)]=='SingleRoman' & flag=='Arabic' ) {
		step=1
		pagenum=0
		flag=='SingleRoman'
		}
			//////////////////
			
			 if (DICT[picname(i)].split('-')[0]=='Jump' ) {
				//var jump = prompt("Please enter page number", "0");
				//jump=2
				
			jump=parseInt(DICT[picname(i)].split('-')[1])
			//	continue
			//alert(jump)
			step=jump
			
			 }
			//////////////
			if (DICT[picname(i)]=='Arabic' & flag=='Arabic') {
			
			flag='Arabic'
			step=2
			
			}
			if (DICT[picname(i)]=='Arabic' & flag=='Roman') {
			
			flag='Arabic'
			step=2
			pagenum=0
			}
			
			if (DICT[picname(i)]=='Roman' & flag=='Roman') {
			
			flag='Roman'
			step=2
			
			}
			
			if (DICT[picname(i)]=='Roman' & flag=='Arabic') {
			
			flag='Roman'
			step=2
			pagenum=0
			}

			jump=0
			
			pagenum=pagenum+step
			num[i]=pagenum
		}
		alert(x)
		//alert(pagenum)
		
		
		
		return pagenum
	
}




function next(step) {
	if (index==1 && step==-1){
	//document.getElementById('page').value= num[index]
	//alert("---")
	return
}

	if (DICT[picname(index)]=='none' && step==1){
	//document.getElementById('page').value= num[index]
	alert("make action")
	return
}




	//alert(step)
//alert(index)
	//document.getElementById('myimage').src=vol+"/"+picname(index)
	//alert(document.getElementById('myimage').src)
	//alert(DICT[picname(index)])
//document.getElementById('mySelect').value=DICT[picname(index)]
//document.getElementById('page').value= countaki()
	if ( step== 1){
	//countaki()


	index=index+parseInt(step)

	if (DICT[picname(index)]=='Empty' ) {
	document.getElementById('myimage').src=''
	}
	else {
	document.getElementById('myimage').src=vol+"/"+picname(index)
	}


	document.getElementById('page').value= countaki()

	}
//##################################
	if ( step==-1){

	index=index+parseInt(step)	
	//countaki()

	if (DICT[picname(index)]=='Empty' ) {
	 document.getElementById('myimage').src=''
	 //alert('oooo')
	}
	 else {
		document.getElementById('myimage').src=vol+"/"+picname(index)
		
	 }

	document.getElementById('page').value= countaki()
	}
//###########################

showSelectOption(DICT[picname(index)])


return

}




function showSelectOption(x) {
	switch(DICT[picname(index)]) {
  case  'Arabic':
    document.getElementById('mySelect').selectedIndex=0
    break;
  case  'Roman':
    document.getElementById('mySelect').selectedIndex=1
    document.getElementById('page').value= convertToRoman(parseInt(document.getElementById('page').value))
    break;
    case 'Empty':
    document.getElementById('mySelect').selectedIndex=2
    break;
    case 'SameArabic':
    document.getElementById('mySelect').selectedIndex=3
    break;
    case 'SameRoman':
    document.getElementById('mySelect').selectedIndex=4
    break;
    //case 'Jump':
   /// document.getElementById('mySelect').selectedIndex=5
    //break;
    case 'SingleRoman':
    document.getElementById('mySelect').selectedIndex=6
    document.getElementById('page').value= convertToRoman(parseInt(document.getElementById('page').value))
    break;
}
	
}


</script>
